h1 { 
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400; 
  font-style: bold;
}

body {
	background-color: #66CCCC ;
  font-family: 'Open Sans Condensed', sans-serif;
}

.jumbotron {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #33CC99;

}

#profile-form {
	margin: 0 auto;
}